/* Common Style */


/* Main Style */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    background: url('../img/background/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

/* Header Style */

.bg-head{
    background-color: #445268;
}

.first-col{
    list-style-type: none;
}

.first-col li{
    display: inline;
}

.first-img{
    height: 28px;
    width: 28px;
}

.logo a img{
    height: 90px;
}

.navbar .navbar-collapse{
    text-align: center;
}

@media (max-width: 767px) {
    .navbar-collapse
    {
        background-color:#FA0;
    }
}